# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# BUILD / DIST (IMPORTANTE)
# =========================
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.bak
# =========================
# VIRTUAL ENV
# =========================
venv/
.venv/
env/
ENV/

# =========================
# EDITOR / IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEST / CACHE
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# LOGS
# =========================
*.log

# =========================
# SECRETS (CRÍTICO)
# =========================
.env
*.pem
*.key
id_rsa
id_ed25519

# =========================
# MISC
# =========================
*.swp
*~
